/* app css stylesheet */

div {
}

body {
    background:
    url('../paper.jpg');
    background-attachment: fixed;
    background-size: 100%
}

#message {
  font-size: 20px;
  color: blue;
}

a{
  font-size: 20px;
  text-decoration: none;
}

li {
}

input {
  display: block;
  /*position: fixed;*/
  z-index: 10;
}

button {
  position: relative;
}

.material-icons.md-33 { font-size: 33px; }

.demo-card-square.mdl-card {
  width: 320px;
  height: 250px;
}

.demo-card-square.mdl-card:hover{
  -webkit-box-shadow: 7px 7px 26px -2px rgba(0,0,0,0.39);
  -moz-box-shadow: 7px 7px 26px -2px rgba(0,0,0,0.39);
  box-shadow: 7px 7px 26px -2px rgba(0,0,0,0.39);
}

.demo-card-square > .mdl-card__title {
  /*color: #0A3456;*/
  color: white;
  /*background: #46B6AC;*/
  background:
    url('../img/day.jpg');
  background-size: 100%;
}
#imgShadow {
  /*box-shadow: 2px 2px 2px #2E2E2E;*/
}

.demo-card-square > .mdl-card__title > .mdl-card__title-text{
  position: relative;
  margin-left: 10%;
}

#addNewcand {
  position: fixed;
/*  margin-left: 5%;
  margin-top: 10%;*/
  /*z-index: 5;*/
}

#userlist{
    margin-left: 10%;
    position: relative;
}

#googlePic{
  border-radius: 45px;
  margin-right: 2%;
  width: 45px;
  height: 45px;  
}

#profile{
  margin-left: 30%;
}
/* View mode*/

#header{
  background-color: #487BE9;
}

#login-page{
  background-color: #F9FAEB;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15%; 
  margin-bottom: auto;
  position: relative;

  min-width: 300px;
  min-height: 250px;
  max-width: 700px;
  max-height: 300px;

  -webkit-box-shadow: 3px 4px 10px 8px rgba(0,0,0,0.12);
  -moz-box-shadow: 3px 4px 10px 8px rgba(0,0,0,0.12);
  box-shadow: 3px 4px 10px 8px rgba(0,0,0,0.12);
}

#login-page>header>h3{
  margin-left: 25%;
  position: absolute;
  color: #F9FAEB;
}

#login-page>header{
  background: url('../img/login.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: 50% 40%;
  height: 200px;
}

#login-button{
  width:50%;
  height: 75px;
  background: url('../img/loginButton.png');
  background-size: 100%;
  background-repeat: no-repeat;

  position:relative;
  margin-left:25%;
  /*margin-top:5%;*/
  border:none;
  box-shadow:none;
}

/* View mode*/

#page{
  background-color: #F9FAEB;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%; 
  margin-bottom: 5%;

  min-width: 300px;
  min-height: 1000px;
  max-width: 700px;
  max-height: 100%;

  -webkit-box-shadow: 3px 4px 10px 8px rgba(0,0,0,0.12);
  -moz-box-shadow: 3px 4px 10px 8px rgba(0,0,0,0.12);
  box-shadow: 3px 4px 10px 8px rgba(0,0,0,0.12);
}

#top{
  position: relative;
  display: inline-block;

  width: 100%;
  height: 150px;
  min-height: 140px;
}

#top>h2{
  display: inline-block;
  color: white;
  position: absolute;
  overflow: hidden;

  margin-right: auto;
  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: auto;

  max-height: 110px; 
  max-width: 60%;
  min-height: 90px;
}

#cv{
  display: inline-block;
  position: relative;
  overflow: hidden;
  float: right;
  margin-top: 15%;
  margin-right: 1%;
}

#cv>a{
  color: white;
}

#linkedin{
  background: url("../img/linkedin-button.png");
  background-repeat: no-repeat;
  background-size: 100%;
  margin-top: 15.5%;
  margin-right: 1%;

  position: relative;
  width: 30px;
  height: 30px;
  display: inline-block;
  float: right;
}

#detailBack{
  background: url("../backGround.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#editBack{
  background: url("../img/mountainNight.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

#newBack{
  background: url("../img/forest.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}


section {
  display: inline-block;
  font-size: 20px;

  color: #38495D;
}
#claster{
  display: inline-block;
  /*border: 2px solid;*/
  min-width: 100%;
  overflow: scroll;
  position: relative;

}

.text-to-right{
  position: relative;
  display: inline-block;
  margin-top: 1.1em;
  margin-bottom: auto;
  float: right;
  overflow: scroll;
  /*border: 2px solid;*/

}

#chapters{
  display: inline-block;
  /*border: 2px solid;*/

}

#profile-content{
  position: relative;
  padding: 5%;
  width: 90%;
}

/*------------EDIT MOdE---------------------------*/

.fieldLabel{
  display: inline-block;
  position: relative;
  /*float: right;*/
  margin-top: 1em;
  margin-left: 25%;
  /*text-align: left;*/
}

#edit-content{
  display: inline-block;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding: 5%;
  width: 90%;
}

/*-------------Advance search--------------------*/

#advancedSearch{
  margin-top: 10px;
  background-color: #F9FAEB;
  /*#F9FAEB;*/
  position: relative;
  margin-left: 7%;
  margin-right: 7%;
  padding: 10px;
  -webkit-box-shadow: 7px 7px 26px -2px rgba(0,0,0,0.39);
  -moz-box-shadow: 7px 7px 26px -2px rgba(0,0,0,0.39);
  box-shadow: 7px 7px 26px -2px rgba(0,0,0,0.39);
}

#checkBoxelement{
  /*border: solid 1px;*/
  position: relative;
  width: 200px;
  height: 40px;
  overflow: hidden;

  /*background-color: white;*/
  margin: 2px;

}

#boxToright{
  float: right;
}
#chkBoxlabel{
  font-size: 1em;
}

#searchFieldsAdvance{
  padding: 1.3em;
}

#searchFieldsAdvance > button{
  margin: 5px;
}

.advanceSearchlabel{
  padding: 5px;
}

.navigate-back{
  z-index: 5;
  position: fixed;
  margin-left: 5%;
}


