/* app css stylesheet */

div {
    color: blue;
}
body {
}

#message {
  font-size: 20px;
  color: blue;
}

a{
  font-size: 20px;
  text-decoration: none;
}

li {
}
input {
  display: block;
  /*position: fixed;*/
  z-index: 10;
}

button {
  position: relative;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 320px;
}
.demo-card-square > .mdl-card__title {
  color: #fff;
  background:
    url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}


