/* app css stylesheet */

div {
    color: blue;
}
body {
    background:
    url('../paper.jpg');
    background-attachment: fixed;
    background-size: 100%

}

#message {
  font-size: 20px;
  color: blue;
}

a{
  font-size: 20px;
  text-decoration: none;
}

li {
}
input {
  display: block;
  /*position: fixed;*/
  z-index: 10;
}

button {
  position: relative;
}

.demo-card-square.mdl-card {
  width: 320px;
  height: 250px;
}

.demo-card-square.mdl-card:hover{
  box-shadow: 4px 4px 10px #2E2E2E;
}

.demo-card-square > .mdl-card__title {
  color: #0A3456;
  /*background: #46B6AC;*/
  background:
    url('../mountain.png');
  background-size: 100%;
}
img {
  box-shadow: 2px 2px 2px #2E2E2E;
}

.demo-card-square > .mdl-card__title > .mdl-card__title-text{
  position: relative;
  margin-left: 10%;
}

#addNewcand {
  position: fixed;
  margin-left: 90%;
  z-index: 5;
}

#move{
    margin-left: 7%;
    position: relative;
}

#form{
    position: relative;
    margin-left: 40%;
}


