<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <img id="googlePic" src="{{pic}}"   width="63" height="63"/>
      <span class="mdl-layout-title">Hello, {{name}}</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="logout()">
                logout
      </button>

      <nav id="header-elements">
        <div class="mdl-layout__header-row">

          <div id="serach-menu">
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect" ng-click="showExtendedsearch()">
              <i class="material-icons md-33" >menu</i>
            </button>

          </div>
          <form id="global-search">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield">
              <input class="mdl-textfield__input" type="text" id="search" ng-model="filterName"/>
              <label class="mdl-textfield__label" for="search">Search...</label>
            </div>
          </form>
          <div class="mdl-layout-spacer"></div>
          <div id="addNewcand">
            <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" ng-click="go('/search/new')">
            <i class="material-icons">add</i>
            </button>
          </div>
        </div>
      </nav>
    </div>
  </header>
  <div id="advancedSearch" ng-show="show" >

    <div class="mdl-grid">
      <div ng-repeat="field in fields">
            <div id="checkBoxelement">
              <div class="mdl-cell mdl-cell--10-col mdl-cell--stretch">
                <input id="boxToright" type="checkbox" name="field.$id" value="checked" ng-model="chkBox[field.$id]"/> 
                <span id="chkBoxlabel">{{field.label}}</span>
                <hr>
              </div>
            </div>
      </div>
    </div>
    <div id="searchFieldsAdvance">
      <div class="advanceSearchlabel">Includes the words:</div>
      <input class="mdl-textfield__input" type="text" id="advanceSearch" ng-model="words.include"/>

      <div class="advanceSearchlabel">Doesn't have:</div>
      <input class="mdl-textfield__input" type="text" id="advanceSearch" ng-model="words.exclude"/>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" ng-click="advanceSearch()">Search</button>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect" ng-click="clearRes()">Clear Result</button>
    </div>
  



</div>
<div id="userlist">
  <div class="mdl-grid">
    <div id="message" ng-repeat="row in allData | filter:filterName">
      <div class="mdl-cell mdl-cell--5-col">
        <!-- Square card -->
        <div class="mdl-card mdl-shadow--2dp demo-card-square">
          <div class="mdl-card__title mdl-card--expand">
            <img id="imgShadow" src="https://api.skype.com/users/{{row.skypename}}/profile/avatar">
            <h1 class="mdl-card__title-text">{{row.namesurname}}</h1>
          </div>
          <div class="mdl-card__supporting-text">
            {{row.maintech}}
          </div>
          <div class="mdl-card__actions mdl-card--border">
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="go('/search/' + row.$id)">
              View
            </a>
            <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="go('/search/edit/' + row.$id)">
              Edit
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="deleteProfile(row.$id)">
                Delete
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>