





      <form>
          <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
              <input class="mdl-textfield__input" type="text" id="sample3" ng-model="filterName"/>
              <label class="mdl-textfield__label" for="sample3">Search...</label>
          </div>
      </form>


<div id="addNewcand">
  <button class="mdl-button mdl-js-button mdl-button--fab mdl-button--colored" ng-click="go('/search/new')">
    <i class="material-icons">add</i>
  </button>
</div>
<div id="move">
    <div class="mdl-grid">
      <div id="message" ng-repeat="row in allData  | filter:filterName">
        <div class="mdl-cell mdl-cell--5-col">
            <!-- Square card -->
              <div class="mdl-card mdl-shadow--2dp demo-card-square">
                <div class="mdl-card__title mdl-card--expand">
                  <img src="http://api.skype.com/users/{{row.avatar}}/profile/avatar">

                  <h2 class="mdl-card__title-text">{{row.name}}</h2>
                </div>
                <div class="mdl-card__supporting-text">
                   {{row.mainTech}}
                </div>
                <div class="mdl-card__actions mdl-card--border">
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="go('/search/' + row.$id)">
                    View 
                  </a>
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="go('/search/edit/' + row.$id)">
                    Edit  
                  <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="deleteProfile()">
                    Delete  
                  </a>
                </div>
              </div>
        </div>
      </div>
    </div>
</div>

