
<input ng-model="filterName"></input>
<button class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="go('/search/new')">add new</button>
<!-- track by $index - in case of repetatives -->
<div id="message" ng-repeat="row in allData  | filter:filterName">

  <p>
  <!-- Square card -->
    <div class="mdl-card mdl-shadow--2dp demo-card-square">
      <div class="mdl-card__title mdl-card--expand">
        <img src="http://api.skype.com/users/{{row.avatar}}/profile/avatar">

        <h2 class="mdl-card__title-text">{{row.name}}</h2>
      </div>
      <div class="mdl-card__supporting-text">
         {{row.mainTech}}
      </div>
      <div class="mdl-card__actions mdl-card--border">
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="go('/search/' + row.$id)">
          View Profile
        </a>
        <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" ng-click="go('/search/edit/' + row.$id)">
          Edit Profile 
        </a>
      </div>
      </div>
  </p>
</div>


